*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h4 {
  font-size: 1.6rem;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1920px;
  max-width: 100%;
  margin: auto;
}

.container {
  padding: 0 30px;
}

.fancy {
  &__button {
    padding: 20px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    &-dark {
      color: white;
      background-color: $main-color;
      border: 1px solid white;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    &-background {
      padding: 70px 0;
      font-size: 12rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #f1f1f3;
      text-align: center;
    }
    &_body {
      position: absolute;
      top: 50%;
      text-align: center;
      &-title {
        font-size: 3.6rem;
        text-transform: capitalize;
        font-weight: bold;
        padding-bottom: 30px;
        margin-bottom: 25px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 1px;
          background-color: black;
          width: 70px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-content {
        font-family: $content-font;
        color: $content-color;
        font-size: 1.5rem;
      }
    }
  }

  &__desc {
    &_header {
      margin-bottom: 50px;
    }

    &-title {
      font-size: 3.6rem;
      font-weight: bold;
      padding-bottom: 30px;
      margin-bottom: 25px;

      &-light {
        color: white;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 70px;
          border: 1px solid white;
        }
      }

      &-dark {
        color: $main-color;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 70px;
          border: 1px solid $main-color;
        }
      }
    }

    &-info {
      font-family: $content-font;
      font-size: 1.6rem;
      color: #c4cbda;
      opacity: 0.9;
    }

    &-item {
      margin-bottom: 35px;
      font-family: $content-font;
      &-light {
        color: #e4e9ff;
      }
      &-dark {
        color: #757679;
      }
  
    }

    &-icon {
      margin-right: 15px;
      &-dark {
        color: #474a59;
      }
      &-light {
        color: #d0d1d2;
      }
    }
  }

  @media (max-width: 768px) {
    &__header {
      &-background {
        font-size: 6rem;
      }
    }
  }
}
