.woo {
    color: white;
    background-color: $main-color;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 60px;
    position: relative;
    &__image {
        position: relative;
        max-width: 1027px;
        margin: 0 auto;
        top: -100px;
        margin-bottom: -50px;
    }

    &__title {
        font-weight: bold;
        font-size: 4.8rem;
        padding-bottom: 35px;
        margin-bottom: 25px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 70px;
            background-color: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__info {
        font-size: 1.5rem;
        font-family: $content-color;
        opacity: .7;
        margin-bottom: 40px;
    }

    &__square {
        position: absolute;
        background-color: #fe8a92;
        height: 200px;
        &:first-of-type {
            width: 420px;
            top: -42px;
            left: 65px;
        }
        &:nth-of-type(2) {
            width: 325px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-of-type(3) {
            width: 325px;
            right: 80px;
            top: -80px;
        }
        &:nth-of-type(4) {
            width: 205px;
            height: 135px;
            right: 0;
            top: 250px;
        }
        &:last-of-type {
            width: 300px;
            height: 135px;
            right: 114px;
            top: 425px;
        }
    }

    @media (max-width : 1280px) {
        &__square {
            display: none;
        }
    }
}