.shortcodes {
    &__body {
        position: relative;
        z-index: 1;
        &-desc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4rem;
            font-weight: bold;
            padding: 15px 30px;
            background-color: white;
            box-shadow: 0 0 50px 10px rgba(98, 129, 237, 0.3);
        }
    }
    &__footer{
        padding: 50px 0;
        text-align: center;
        background-color: #fafbfe;
    }

}