$main-color : #1b1e30;
$content-color : #7c7d86;

$content-font : 'PT Serif', serif;

$box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;